.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  margin: 5rem;
}

.filter-button {
  cursor: pointer;
  background-color: white;
  border-style: none;
  border-radius: 5px;
  padding: 1rem;
  width: 5rem;
}
